.portfolio{
    background: #fafafa;
    .heading{
        position: relative;
        h2{
            @include HeadingH;
        }
        i{
            @include IlineHead;
        }
        span{
            @include lineHead;
        }
    }
    .sec__content {
        li{
            padding: 8px 10px;
            color: #777;
            border : 1px solid rgb(192, 192, 192);
            border-radius: 8px;
            cursor: pointer;
            &.selected{
                background-color: #039be5;
                color: #fff;
                border: 1px solid #039be5;
            }
        }
        .gallery{
            .row > div{
                position: relative;
                overflow: hidden;
                margin-bottom: 15px;
                &:nth-of-type(2){
                    margin-left: 15px;
                    margin-right: 15px;
                }
                    &:after{
                        position: absolute;
                        text-align: center;
                        content: "";
                        top: 0;
                        left: 0;
                        bottom: 0;
                        line-height: 215px;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        color: #fff;
                        font-size: 50px;
                        background-color: rgba(0,0,0,0.7);
                        transition: all .9s ease-in-out;
                        opacity: 0;
                        i{
                            cursor: pointer;
                        }
                    }
                    &:hover{
                        transition: all .5s ease-in-out;
                        &:after{
                            opacity: 1;
                        }
                        img{
                            transform: scale(1.1 , 1.1);
                            transition: all .5s ease-in-out
                        }
                        .over{
                            opacity: 1;
                            transition: all .5s ease-in-out;
                        }
                    }
                img{
                    width: 300px;
                    height: 215px;
                    transition: all .5s ease-in-out
                }
                .over{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 40px;
                    z-index: 2;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: all .5s ease-in-out;
                    .a{
                        color: #fff;
                        text-decoration: none !important;
                        cursor: pointer;
                        transition: all .5s ease-in-out;
                        width: 20%;
                        float: left;
                    }
                    .b{
                        color: #fff;
                        cursor: pointer;
                        transition: all .5s ease-in-out;
                        width: 20%;
                        float: left;
                    }
                    span{
                        display: block;
                        font-size: 20px;
                        color: #fff;
                        transition:all .5s ease-in-out;
                        text-align: center;
                        margin-left: -7px;
                    }
                    i{
                        &:hover{
                            color: #039be5;
                            span{
                                color: #039be5;
                            }
                        }
                    }
                    
                }
            }
        }
    }
    .mix{
        display: none;
    }
}

